footer.bottom {
	background-color: #ddd;
	color: #444;
	border-top: 1px solid #cecece;
	text-transform: uppercase;
	margin-top: 2em;
	padding: 1.5em 0;
	.inner {
		font-size: 0.7em;
	}
	a {
		color: #444;
	}
	.inner {
		@include span-columns(12);
	}
	nav {
		@include span-columns(6);
		@include shift(3);
		ul {
			margin: 0;
			padding: 0;
			@include span-columns(3);
			&.left {
			}
			&.right {
				@include omega;
			}
		}
	}
	.copyright {
		@include span-columns(3);
		small {
			font-size: 1em;
		}
	}
}