html, body {
	font-family: $muli-family;
	background-color: #eee;
}

@include selection($text-light, #222);

h1, h2, h3 {
	text-transform: uppercase;
	&.large {
		text-transform: none;
	}
}

h1 {
	font-size: 1em;
	&.large {
		font-size: 2em;
	}
}

a {
	text-decoration: none;
	color: $text-dark;
}

p a {
	font-weight: bold;
	font-size: 0.9em;
}

.squish {
	@include outer-container;
}

.octoface {
	@include inline-block;
	background-image: url(#{$images-path}/icons/octoface.svg);
	background-size: 18px auto;
	background-position: left;
	background-repeat: no-repeat;
	&:hover {
		background-image: url(#{$images-path}/icons/octoface-dark.svg);
	}
}

.fork, header li.fork {
	$vertical-padding: 0.1em;
	$horizontal-padding: 0.6em;
	a {
		display: inline !important;
		border-radius: 3px;
		color: $text-light;
		background-color: $text-dark;
		width: auto;
		padding-top: $vertical-padding !important;
		padding-bottom: $vertical-padding !important;
		padding-left: 22px !important;
		padding-right: $horizontal-padding !important;
		margin: 0 0.3em;
		border: 1px solid #666;
		&:hover {
			color: $text-dark;
			background-color: #fff;
			border-color: #bbb;
		}
	}
}

$calltoaction-height: 1.8em;

.calltoaction {
	text-transform: uppercase;
	background-color: $text-dark;
	display: inline-block;
	height: $calltoaction-height;
	line-height: $calltoaction-height;
	a {
		color: $text-light;
		padding: 0 1em;
		@include real-fill-parent;
	}
	&:hover {
		background-color: #fff;
		a {
			color: $text-dark;
		}
	}
}
